# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
flowtrace.egg-info

# Virtual Environments
venv/
.venv/
env/
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
data/
mlruns/
mlruns.db
mlartifacts/
PATCH.md
temp.md

# Testing & Coverage
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# Prefect
~/.prefect/
